<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Creando una plataforma Ecommerce con Django</title>

		<meta name="description" content="Creando una plataforma Ecommerce con Django">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/default.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section data-transition="zoom">
					<h1>Plataforma Ecommerce</h1>
					<h3>con Django</h3>
					<p>
						<small>Por <a href="http://andresfcardenas.herokuapp.com">Andrés F. Cárdenas</a> / <a href="http://twitter.com/AndresFCardenas">@AndresFCardenas</a></small>
					</p>
				</section>
				<section>
					<h2>¿Por qué?</h2>
				</section>

				<section data-transition="zoom" data-background="#007777">
					<h2>¿Qué es Django?</h2>
				</section>

				<!-- Example of nested vertical slides -->
				<section data-background="#8c4738">
					<section>
						<h2>¿Por qué Django?</h2>
						<a href="#" class="image navigate-down">
							<img width="178" height="238" src="https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png" alt="Down arrow">
						</a>
					</section>
					<section>
						<h2>Python</h2>
					</section>
					<section>
						<h2>Estable</h2>
					</section>
					<section>
						<h2>Documentación</h2>
					</section>
					<section>
						<h2>Gran comunidad</h2>
					</section>
					<section>
						<h2>Experiencia</h2>
					</section>
				</section>

				<section data-transition="zoom">
					<h2>Comercio electrónico en colombia</h2>
				</section>

				<section>
					<h2>Virtualenvwrapper y pip</h2>
				</section>

				<section>
					<h2>SQLite</h2>
				</section>

				<section>
					<h2>Instalacion de Django</h2>
				</section>

				<section>
					<h2>Configuracion de nuestro proyecto</h2>
				</section>

				<section data-transition="zoom">
					<h2>Puntos a tener en cuenta cuando se crea una plataforma Ecommerce</h2>
				</section>

				<section>
					<h2>Registro de usuarios a la plataforma</h2>
				</section>

				<section>
					<h2>Catalogo</h2>
				</section>

				<section>
					<h2>Carrito de compras</h2>
				</section>

				<section>
					<h2>Aplicacion base</h2>
				</section>

				<section>
					<h2>Estructura</h2>
					<p>
						<ul>
							<li>media</li>
							<li>static</li>
							<li>templates</li>
							<li>models</li>
							<li>settings</li>
							<li>urls</li>
							<li>views</li>
						</ul>
					</p>
				</section>

				<section>
					<h2>Aplicacion userprofile</h2>
				</section>

				<section>
					<h2>Estructura</h2>
					<p>
						<ul>
							<li>backends</li>
							<li>templates</li>
							<li>admin</li>
							<li>forms</li>
							<li>models</li>
							<li>urls</li>
							<li>views</li>
						</ul>
					</p>
				</section>

				<section>
					<h2>Descomentar</h2>
					<p>
						En app/settings.py
					</p>
					<p>
						<pre><code># 'userprofile',</code></pre>
					</p>
				</section>

				<section>
					<h2>Descomentar</h2>
					<p>
						En app/urls.py
					</p>
					<p>
						<pre><code>
# url(
#     r'^accounts/',
#     include('userprofile.backends.default.urls')
# ),

# url(
#     r'^accounts/',
#     include('userprofile.urls', namespace='userprofile')
# ),
						</code></pre>
					</p>
				</section>

				<section>
					<h2>Descomentar</h2>
					<p>
						En app/templates/layout/base.html
					</p>
					<p>
						<pre><code>
{% if user.is_authenticated %}
{# <a class="btn btn-mini" style="margin:10px 5px 5px 10px;" href="{% url 'userprofile:dashboard' %}">Dashboard</a> #}
<a class="btn btn-mini" style="margin:10px 10px 5px 0px;" href="{% url 'auth_logout' %}">Cerrar sesión</a>
{% else %}
{# <a class="btn btn-mini" style="margin:10px 5px 5px 10px;" href="{% url 'userprofile:user_login' %}">Iniciar sesión</a> #}
{# <a class="btn btn-mini" style="margin:10px 10px 5px 0px;" href="{% url 'registration_register' %}">Registrarse</a> #}
{% endif %}
						</code></pre>
					</p>
				</section>

				<section>
					<h2>Aplicacion store</h2>
				</section>

				<section>
					<h2>Estructura</h2>
					<p>
						<ul>
							<li>templates</li>
							<li>admin</li>
							<li>forms</li>
							<li>models</li>
							<li>urls</li>
							<li>views</li>
						</ul>
					</p>
				</section>

				<section>
					<h2>Descomentar</h2>
					<p>
						En app/settings.py
					</p>
					<p>
						<pre><code># 'store',</code></pre>
					</p>
				</section>

				<section>
					<h2>Descomentar</h2>
					<p>
						En app/urls.py
					</p>
					<p>
						<pre><code>
# url(
#     r'^',
#     include('store.urls', namespace='store')
# ),
						</code></pre>
					</p>
				</section>

				<section>
					<h2>Descomentar</h2>
					<p>
						En userprofile/templates/userprofile/dashboard.html
					</p>
					<p>
						<pre><code>
{# <p> #}
    {# <a class="btn btn-general" href="{% url 'store:store-create' %}">Agregar tienda</a> #}
{# </p> #}
......
{# <p> #}
    {# <a href="{% url 'store:store-update' store.slug %}" class="btn btn-primary">Actualizar informacion de tienda</a> #}
    {# <a href="{% url 'store:product-create' store.slug %}" class="btn btn-primary">Agregar nuevo producto</a> #}
{# </p> #}
						</code></pre>
					</p>
				</section>

				<section>
					<h2>Aplicacion carrito</h2>
				</section>

				<section>
					<h2>Estructura</h2>
					<p>
						<ul>
							<li>templates</li>
							<li>admin</li>
							<li>forms</li>
							<li>models</li>
							<li>urls</li>
							<li>views</li>
						</ul>
					</p>
				</section>

				<section>
					<h2>Descomentar</h2>
					<p>
						En app/settings.py
					</p>
					<p>
						<pre><code># 'cart',</code></pre>
					</p>
				</section>

				<section>
					<h2>Descomentar</h2>
					<p>
						En app/urls.py
					</p>
					<p>
						<pre><code>
# url(
#     r'^cart/',
#     include('cart.urls', namespace='cart')
# ),
						</code></pre>
					</p>
				</section>

				<section>
					<h2>Descomentar</h2>
					<p>
						En app/templates/layout/base.html
					</p>
					<p>
						<pre><code>
{# <a href="{% url 'cart:cart_detail' %}">Items (<span id="cart_count">0</span>) | Carrito: $<span id="cart_cash"></span></a> #}
						</code></pre>
					</p>
				</section>

				<section>
					<h2>La cookie</h2>
				</section>

				<section>
					<h2>¿Preguntas?</h2>
				</section>
				<section>
					<h2>¡Muchas gracias!</h2>
				</section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
